<?xml version="1.0"?>
<events>
    <account_create_guest>
        <!--<subject>HM_Model_Account_Invite_Event_Subject_InviteCreate</subject>-->
        <observer>HM_Model_Account_Guest_Event_Observer_GuestCreate</observer>
    </account_create_guest>
    <account_activate_guest>
        <observer>HM_Model_Account_Invite_Event_Observer_InviteCreate</observer>
    </account_activate_guest>
</events>